h1 {
    text-align: center;
    color: #110c26;
}

nav {
    text-align: center;
}

a:visited {
  color: #0A4784;
}

a:hover {
  color: #E87114;
  text-decoration: none;
}

.goalie {
  height: 15em;
  width: 22.5em;
}

* {
  background-color: #337907;
  font-family: PT Serif;
}

.text-center {
  text-align: center;
}

footer {
    text-align: center;
}